 ## Segmenting and Clustering Neighborhoods in Toronto

Let's import the necessary libraries

In [1]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

Next, we will get the information from the link using beautiful soup!

In [2]:
info = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(info.content, "html.parser")

In [3]:
table = soup.find('tbody') 
rangees = table.find_all('tr') 

rangee = [k.get_text() for k in rangees]

We create a dataframe that will contain the extracted data, making the first rows'values, found by using dfmamou.iloc[0], the rows's names.

In [4]:
dfmamou = pd.DataFrame(rangee)
dfmamou1 = dfmamou[0].str.split('\n', expand = True)
dfmamou2 = dfmamou1.rename(columns = dfmamou1.iloc[0])

In [75]:
dfmamou2.head(3)

     Postcode       Borough  Neighbourhood
0    Postcode       Borough  Neighbourhood
1         M1A  Not assigned   Not assigned
2         M2A  Not assigned   Not assigned

The duplicate rows (title and row of index 0 ) must be dealt with. the latter is removed.

In [6]:
dfmamou3 = dfmamou2.drop(dfmamou2.index[0])

In [76]:
dfmamou3.head(3)

    Postcode       Borough Neighbourhood
1        M1A  Not assigned  Not assigned
2        M2A  Not assigned  Not assigned
3        M3A    North York     Parkwoods

in this step, we will remove all rows where the Borough has a value of "Not assigned"

In [8]:
dfmamou4 = dfmamou3[dfmamou3.Borough != 'Not assigned']

In [77]:
dfmamou4.head()

    Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

Next, we group Boroughs that have the same postal code with a comma at the row level:

In [18]:
dfmamou5 = dfmamou4.groupby(['Postcode','Borough'], sort = False).agg(','.join)

In [78]:
dfmamou5.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [20]:
dfmamou5.reset_index(inplace = True)
dfmamou5.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

replacing all values not assigned to "Queens'Park"

In [21]:
dfmamou6 = dfmamou5.replace("Not assigned","Queens's park")

In [80]:
dfmamou6.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                    Queens's park

In [81]:
dfmamou6.shape

(103, 3)